<html>
<head>
{{>header}}
</head>
<body class="container">
<h2>Delete Goal</h2>
<form method="post" role="form">
<div class="form-group">
<label for="category"> Goal Category:</label>
<select id="category" name="category">
<option value="nutrition">Nutrition</option>
<option value="fitness">Fitness</option>
<option value="mentalHealth">Mental Health</option>
</select>
</div>
<div class="form-group">
<label for="goalname"> Goal Name:</label>
<textarea class="form-control" id="goalname" name="goalname"
placeholder="Goal Name" required>
</textarea>
</div>
<div class="form-group">
<input type="submit" value="Delete Goal" class="btn btn-primary">
</div>
 </form>
</body>
</html>