<html>
<head>
{{>header}}
</head>
<body class="bg-violet-400 font-serif">
<div class="relative min-h-screen md:flex">

  <!-- mobile menu bar -->
  <div class="bg-gray-800 text-gray-100 flex justify-between md:hidden">
    <!-- logo -->
    <a href="#" class="block p-4 text-white font-bold">Better Dev</a>

    <!-- mobile menu button -->
    <button class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-700">
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- sidebar -->
  <div class="sidebar bg-purple-400 text-blue-100 w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">

    <!-- logo -->
    <a href="#" class="text-white flex items-center space-x-2 px-4">
      <img class="h-40" src="./img/AGB_Wellness__4.png" alt="AGB Wellness Logo" />
    </a>

    <!-- nav -->
    <nav>
      <a href="/#" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-400 hover:text-white">
        Home
      </a>
      <a href="/view" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-400 hover:text-white">
        View Goals
      </a>
      <a href="/new" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-400 hover:text-white">
        Add Goals
      </a>
      <a href="/update" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-400 hover:text-white">
        Update Goals
      </a>
      <a href="/delete" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-400 hover:text-white">
        Delete Goals
      </a>
      <a href="/logout" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-purple-400 hover:text-white">
        Log Out
      </a>
    </nav>
  </div>

  <!-- content -->
  <div class="flex-1 p-10 text-2xl font-bold">
    <div class="container max-w-7xl mx-auto mt-8">
    <div class="mb-4">
      <h1 class="font-serif text-3xl font-bold text-white"> Weekly Goals</h1>
      <div class="flex justify-end">
       <a class="px-4 py-2 rounded-md bg-purple-400 text-sky-100 hover:bg-sky-600" href="/new">Add Goals</a>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="inline-block min-w-full overflow-hidden align-middle border-b border-purple-400 shadow sm:rounded-lg">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 text-xl font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-purple-400  bg-gray-50">
                  Category</th>
                <th
                  class="px-6 py-3 text-xl font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-purple-400  bg-gray-50">
                  Goal Name</th>
                <th
                  class="px-6 py-3 text-xl font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-purple-400  bg-gray-50">
                  Date</th>
                <th
                  class="px-6 py-3 text-xl font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-purple-400  bg-gray-50">
                  Time</th>
                 <th
                  class="px-6 py-3 text-xl font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-purple-400  bg-gray-50">
                   Repeat</th>
              <th
                  class="px-6 py-3 text-xl font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-purple-400  bg-gray-50">
                  Short Description</th>
            </thead>
  
            <tbody class="bg-white">
              {{#entries}}
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-purple-400 ">{{category}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-purple-400 ">{{goalname}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-purple-400 ">{{day}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-purple-400 ">{{time}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-purple-400 ">{{repeat}}</td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-purple-400 ">{{shortDescription}}</td>

                 
  
                <td class="text-sm font-medium leading-5 text-center whitespace-no-wrap border-b border-purple-400 ">
                  <a href="/update" class="text-indigo-600 hover:text-indigo-900">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                    </svg>
                  </a>
  
                </td>
                <td class="text-sm font-medium leading-5 whitespace-no-wrap border-b border-purple-400">
                  <a href="/delete"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-600 hover:text-red-800"
                      fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg></a>
  
                </td>
              
              {{/entries}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 </div>
  </div>

</div>
</body>
</html>